body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 30px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    font-size: 1em;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    color: #333;
}

#search-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

#search-btn:hover {
    background-color: #45a049;
}

.city-name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.weather-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.weather-header img {
    width: 80px;
    height: 80px;
    margin-bottom: 20;
}

.weather-header span {
    font-size: 1.2em;
    font-weight: bold;
}

.weather-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.weather-detail {
    display: flex;
    justify-content: space-between;
}

.weather-detail .label {
    font-weight: bold;
}


.city-prompt {
    font-size: 1.5em
}

.information {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media (max-width: 500px) {
    body {
        padding: 0px 20px 0px 20px;
    }
    .information { 
        width: 90%;
    }

}

